.pyramid_container {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 400px 600px 400px;
  border-color: transparent transparent #f7f7f7 transparent;
}

.pyramid_top {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 150px 229px 150px;
  border-color: transparent transparent #bebebe transparent;
  margin-left: -150px;
}

.pyramid_line2_left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 88px 128px 88px;
  border-color: transparent transparent #7a7a7a transparent;
  margin-top: 0px;
  margin-left: -239px;
}

.pyramid_line2_middle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 128px 88px 0 88px;
  border-color: #adadad transparent transparent transparent;
  margin-top: -128px;
  margin-left: -151px;
}

.pyramid_line2_right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 88px 128px 88px;
  border-color: transparent transparent #7a7a7a transparent;
  margin-top: -128px;
  margin-left: -63px;
}

.pyramid_line2_end {
    position: relative;
    height: 128px;
    width: 125px;
    background-color: #aea775;
  /* Skew */                              
   -webkit-transform: skew(34.5deg);     
   -moz-transform: skew(34.5deg);          
   -o-transform: skew(34.5deg);             
   transform: skew(34.5deg); 
    margin-top: -128px;
    margin-left: 69px;
}

.pyramid_flat_triangle_left {
   width: 0;                       
   height: 0;                     
   border-bottom: 100px solid blue;                         
   border-right: 100px solid transparent;                   
   margin-left: 120px;                                      
}                            
                                   
.pyramid_flat_rectangle_middle {         
   width: 140px;                                            
   height: 80px;                   
   background: blue;                     
}                                 
                                                            
.pyramid_flat_triangle_right {                              
  position: relative;           
    height: 0px;                   
    width: 440px;                        
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    border-bottom: 200px solid #428BCA;
    margin-left:-399px;         
    margin-top:44px;                     
}                                                           
                                                            
.pyramid_line1 {                         
   width: 256px;                          
   height: 50px;                       
   background: blue;                     
  /* Skew */                              
   -webkit-transform: skew(33deg);     
   -moz-transform: skew(33deg);          
   -o-transform: skew(33deg);             
   transform: skew(33deg);                                  
   margin-top: -200px;                                      
   margin-left: 28px;          
}                            
                                         
.pyramid_line2 {                          
   width: 256px;                       
   height: 50px;                  
   background: green;          
   /* Skew */                
   -webkit-transform: skew(33deg);       
   -moz-transform: skew(33deg);           
   -o-transform: skew(33deg);          
   transform: skew(33deg);
   margin-top: 0px;               
   margin-left: 61px;           
}                                 
      
.pyramid_line3 {                          
   width: 256px;                       
   height: 50px;                  
   background: red;          
   /* Skew */                
   -webkit-transform: skew(33deg);       
   -moz-transform: skew(33deg);           
   -o-transform: skew(33deg);          
   transform: skew(33deg);
   margin-top: 0px;               
   margin-left: 94px;           
}     

.pyramid_line4 {                          
   width: 256px;                       
   height: 50px;                  
   background: yellow;          
   /* Skew */                
   -webkit-transform: skew(33deg);       
   -moz-transform: skew(33deg);           
   -o-transform: skew(33deg);          
   transform: skew(33deg);
   margin-top: 0px;               
   margin-left: 128px;           
}     
     
.pyramid_bottom_fill {
    position: relative;
    height: 200px;
    width: 105px;
    background-color: gray;
  /* Skew */                              
   -webkit-transform: skew(33deg);     
   -moz-transform: skew(33deg);          
   -o-transform: skew(33deg);             
   transform: skew(33deg); 
    margin-top: -200px;
    margin-left: -25px;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.btn_report {                  
        margin-top:150px;          
        margin-left:-35px; 
	font-size: 12px;
}  

.btn_collect {                  
        margin-top:150px;          
        margin-left:-35px; 
	font-size: 12px;
}  

