div.sphinxsidebar {
  /* overflow-y: auto; */
  /* height: -webkit-fill-available; */
}

div.section {
  /* display: inline-block; */
}

div.section img {
  border: 1px solid #e1e4e5;
  padding: 20px;
  overflow-x: auto;
  background: #fff;
  margin: 1px 0 24px 0;
}

.admonition.note,
.admonition-todo {
  margin-left: 2em;
  margin-right: 2em;
  padding: 2px;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-flex;
  width: 100%;
}

.admonition.note {
  background-color: white;
}

div.admonition.note p.admonition-title,
div.admonition-todo p.admonition-title {
  font-size: medium;
  display: flex;
  height: fit-content;
}

div.admonition.note p.last,
div.admonition-todo p.last {
  margin-left: 2em;
  font-size: small;
}
